<a href="https://colab.research.google.com/github/taegyunjjang/ml_study/blob/main/Predict_Survival_on_the_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic - Machine Learning from Disaster
## Predict survival on the Titanic

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

sns.set(style='whitegrid')
sns.set_palette('pastel')

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/machine_learning_data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/machine_learning_data/test.csv')

## 1. EDA

In [ ]:
train.head()

In [ ]:
test.head()

1-1. Data Dictionary
- PassengerId
- Survived : 0=No, 1=Yes
- Pclass : Ticket class. 1=1st, 2=2nd, 3=3rd
- Name
- Sex
- Age
- SibSp : # of siblings/spouses aboard the Titanic
- Parch : # of parents/children aboard the Titanic
- Ticket: Ticket number
- Fare : Passenger fare
- Cabin : Cabin number
- Embarked : Port of Embarkation. C=Cherbourg, Q=Queenstown, S=Southampton

In [ ]:
train.shape

In [ ]:
test.shape  # 'Survived' column 없음

In [ ]:
train.info()

In [ ]:
test.info()

In [ ]:
train.isnull().sum()

In [ ]:
test.isnull().sum()

1-2. 결측치가 많은  columns
- 'Age'
- 'Cabin'

### Data Visualization

In [ ]:
# column에 따른 생존한 사람들의 수
def survival(column):
    survived = train[train['Survived'] == 1][column].value_counts()
    dead = train[train['Survived'] == 0][column].value_counts()
    df = pd.DataFrame([survived, dead])
    df.index = ['Survived', 'Dead']
    df.plot(kind='bar', figsize=(10, 6))

Pclass : 1 > 2 > 3

In [ ]:
survival('Pclass')

Sex : 남성 < 여성

In [ ]:
survival('Sex')

Age : 20대 미만 생존율 높음

In [ ]:
# survival('Age')

In [ ]:
train['Age'].describe()

In [ ]:
survived_age = train[train['Survived'] == 1]['Age'].value_counts()

plt.figure(figsize=(20, 6))
sns.boxplot(data=train, x='Age', y=survived_age)
plt.title('Survival Rate by Age')
plt.xlabel('Age')
plt.ylabel('Survival Rate')
plt.xticks(rotation=90)
plt.show()

In [ ]:
dead_age = train[train['Survived'] == 0]['Age'].value_counts()

plt.figure(figsize=(20, 6))
sns.boxplot(data=train, x='Age', y=dead_age)
plt.title('Dead Rate by Age')
plt.xlabel('Age')
plt.ylabel('Dead Rate')
plt.xticks(rotation=90)
plt.show()

SibSp : 많은 형제와 탑승할수록, 배우자와 탑승할수록 생존율 높음

In [ ]:
survival('SibSp')

Parch : ??

In [ ]:
survival('Parch')

Fare : ??

In [ ]:
# survival('Fare')

In [ ]:
train['Fare'].describe()

In [ ]:
survived_fare = train[train['Survived'] == 1]['Fare'].value_counts()

plt.figure(figsize=(20, 6))
sns.scatterplot(data=train, x='Fare', y=survived_fare)
plt.title('Survival Rate by Fare')
plt.xlabel('Fare')
plt.ylabel('Survival Rate')
plt.xticks(rotation=90)
plt.show()

In [ ]:
dead_fare = train[train['Survived'] == 1]['Fare'].value_counts()

plt.figure(figsize=(20, 6))
sns.scatterplot(data=train, x='Fare', y=dead_fare)
plt.title('Dead Rate by Fare')
plt.xlabel('Fare')
plt.ylabel('Dead Rate')
plt.xticks(rotation=90)
plt.show()

Cabin : ??

In [ ]:
# survival('Cabin')

Embarked : C > Q > S

In [ ]:
survival('Embarked')

## 2. Data Preprocessing

2-1. 불필요한 columns 제거

In [ ]:
# 'PassengerId', 'Name', 'Ticket' 제거
train.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)
test.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)

In [ ]:
print(f'train_columns:\n{train.columns}\n')
print(f'test_columns:\n{test.columns}')

2-2. 범주형 데이터 -> 수치형 데이터
- Sex : 0=female, 1:male
- Cabin : ?
- Embarked : ?

2-3. 결측치 채우기
- Age : ?
- Cabin : ?

2-4. Data Scaling

## 3. Modeling

In [ ]:
target = train['Survived']
train_data = train.drop('Survived', axis=1)

- k-fold cross validation
- Ensemble

## 4. Submission